import java.util.Scanner;

public class BevShopDriverApp 
{

	public static void main(String[] args) 
	{
		double totalPrice = 0.0;
		Scanner input = new Scanner(System.in);
		
		System.out.println("The current order in process can have at most 3 alcoholic beverages.\n"
				+ "The minimum age to order alcohol drink is 21.\n"
				+ "Start please a new order:\n");
		System.out.println("Enter name: ");
		String name = input.nextLine();
		System.out.println("Enter your name: ");
		int age = input.nextInt();
		Customer p1 = new Customer(name, age);
		
		
		//Test Code: 
		System.out.println(p1.toString());
		
		if(p1.getAge() >= 21)
		{
			System.out.println("Your age is above 20 and you are eligible to order alcohol \n"
					+ "Would you please add an alcohol drink?\n");
			
		Beverage bev3 = new Alcohol("Cocktail", Size.SMALL, true);
		totalPrice = totalPrice + bev3.calcPrice();
		System.out.println(bev3.toString());
		}
		
		Beverage bev1 = new Coffee("Cold Brew", Size.MEDIUM, true, false);
		totalPrice = totalPrice + bev1.calcPrice();
		System.out.println(bev1.toString());
		
		Beverage bev2 = new Smoothie("Detox", Size.MEDIUM, 4, true);
		totalPrice = totalPrice + bev2.calcPrice();
		System.out.println(bev2.toString());
		
		
		System.out.println("Total price of all drinks: " + totalPrice);
		
	}

}
